.bloc {
    padding: 20px;
    background-color: wheat;
    border-radius: 20px;
    margin: 10px;
}

.lloc {
    display: inline-block;
    margin-left: 20px;
}

.data {
    float: right;
}

.desplegador {
    height: 22px;
    width: 22px;
}