 body {
  font-family: Arial, Helvetica, sans-serif;
}

.bloc {
    padding: 20px;
    background-color: wheat;
    border-radius: 20px;
    margin: 10px;
}

.tag_left {
    display: inline-block;
    margin-left: 20px;
}

.tag_right {
    float: right;
}

.desplegador {
    height: 22px;
    width: 22px;
    padding: 0px;
}

.desplegable {
    max-width: fit-content/2;
}

.img_boto {
    width: 100%;
    src: "down_arrow_simple_1.png";
}