 body {
  font-family: Arial, Helvetica, sans-serif;
  
}

h1 {
    text-align: center;
}

.bloc {
    padding: 20px;
    background-color: wheat;
    border-radius: 20px;
    margin: 10px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

#afegir_element {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    border-color: blue;
    border-width: 3px;
    border-style: solid;
    color: blue;
    text-align: center;
    font-weight: bold;
    font-size: large;
    width: 50%;


    
    transition: color 200ms;
    transition: border-color 200ms;
    transition: background-color 200ms;
}

#afegir_element:hover {
    background-color: blue;
    border-color: white;
    color: white;
}

.tag_left {
    display: inline-block;
    margin-left: 20px;
}

.tag_right {
    float: right;
}

.desplegador {
    height: 22px;
    width: 22px;
    padding: 0px;
}

.desplegable {
    max-width: fit-content/2;
}

.img_boto {
    width: 100%;
    src: "down_arrow_simple_1.png";
}

